### Root ignores ###
/.idea/
/.kotlin/
/.gradle/
/build/

### Module-specific build directories ###
/*/build/
/shared/build/

### Common ignores ###
.gradle
HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Application specific ###
/core-service/src/main/resources/application-local.yml
/api-gateway/.env

### IntelliJ IDEA (from .idea/.gitignore) ###
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
